[submodule "modules/echoes-of-the-worldsoul"]
	path = modules/echoes-of-the-worldsoul
	url = https://github.com/callmefree/echoes-of-the-worldsoul.git
[submodule "modules/mod-attunement-plus"]
	path = modules/mod-attunement-plus
	url = https://github.com/callmefree/mod-attunement-plus.git
[submodule "modules/mod-ale"]
	path = modules/mod-ale
	url = https://github.com/callmefree/mod-ale.git
